{% extends 'base.html.twig' %}

{% block body %}
<main class="container mt-5">
    <section class="row text-center">
        <div class="col-12 mb-4">
          <h1 class="display-4 text-primary fw-bold">Bienvenue dans notre site village green</h1>
         <p class="lead">Découvrez notre incroyable sélection de produits</p>
   </div>

        {% for category in categories %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0">
                    <div class="image-container overflow-hidden">
                        <a href="{{ path('sous_categories', {id: category.id}) }}">
                            <img class="card-img-top img-fluid category-image" src="{{ asset('uploads/categories/' ~ category.image) }}" alt="{{ category.nom }}" style="width: 220px;">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ category.nom }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
  
