
{% block subject %}Bienvenue sur Village Green !{% endblock %}

    {% block body %}
        <p>Bonjour {{ user.nom }},</p>
        
        <p>Bienvenue sur <strong>Village Green</strong> ! Nous sommes ravis de vous compter parmi notre communauté de passionnés de musique.</p>
        
        <p>Avec Village Green, vous pouvez :</p>
        <ul>
            <li>Découvrir et acheter des instruments de musique et accessoires</li>
            <li>Mettre à jour vos préférences et suivre vos commandes</li>
            <li>Échanger avec d'autres musiciens et passionnés</li>
        </ul>
        
        <p>Si vous avez des questions, notre équipe d'assistance est à votre disposition.</p>
        
        <p>Profitez de votre expérience musicale avec nous !</p>
        
        <p>Musicalement,</p>
        <p>L'équipe de <strong>Village Green</strong></p>
    {% endblock %}