<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

    
    </head>
    <body>

    {% include "_partials/_nav.html.twig"  %} 


    <section class="hero-section position-relative text-center">
      <img src="{{ asset('uploads/bg5.jpg') }}" alt="Background Image" class="img-fluid w-100" style="height: 400px;">
       <!-- Search Bar Inside Image -->
       <div class="position-absolute top-50 start-50 translate-middle" style="width: 40%;">
        <form method="get" action="{{ path('produits_recherche') }} ">

            <input class="form-control" type="search" name="search" placeholder="Search for produits..." aria-label="Search">
        </form>
    </div>
    
    
</section>
{% include "_partials/_flash.html.twig" %}

     

        {% block body %}{% endblock %}

          {% include "_partials/_footer.html.twig"  %} 

    </body>
</html>
